node_modules
/dist
*.zip
public/assets
bertin
src/bertin
cache


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/test-results/
/playwright-report/
/playwright/.cache/
test/data/storageState.json

*.sql
cache/
tests/data/storageState.json
