:root {
    --size-1: 2px;
    --size-2: 5px;
    --size-3: 10px;
    --size-4: 16px;
    --size-5: 20px;
    --size-6: 25px;
    --size-7: 30px;

    --border-radius-s: 8px;
    --border-radius-m: 16px;

    --text-s: calc(14rem / 15);
    --text-l: calc(16rem / 15);

    --box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1)
}
