.Checkbox {

    .v-checkbox {
        flex: none;

        .v-input__control {

            .v-selection-control {
                min-height: 0;
            }

            i {
                opacity: 1;

                &:before {
                    color: var(--color-bim-1);
                    z-index: 1;
                    pointer-events: none;
                }


                //&:after {
                //    position: absolute;
                //    left: 4px;
                //    top: 4px;
                //    width: calc(100% - 8px);
                //    height: calc(100% - 8px);
                //    content: "";
                //    background: #fff;
                //    z-index: 0;
                //    pointer-events: none;
                //}
            }
        }

        .v-input__details {
            display: none;
        }
    }

    &[data-mixed="true"] {
        background: grey;
    }
}


