div.v-expansion-panel {
    background: transparent;
    color: var(--color-text);
    border-bottom: 1px solid #595959;
    margin-top: 0!important;
    padding: 0 var(--size-6);
    border-radius: 0;

    &:after {
        display: none;
    }

    .v-expansion-panel-title {
        color: var(--color-text)!important;
        background: transparent!important;
        min-height: 56px;
        padding: 0;
        font-weight: 500;

        .v-expansion-panel-title__overlay {
            background: transparent;
        }
    }

    &__shadow {
        display: none;
    }

    .v-expansion-panel-text {
        .v-expansion-panel-text__wrapper {
            padding: 8px 0 var(--size-7) 0;
        }
    }
}
